@import "../../components/App/variables.scss";

#create-page {
  .features {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 24px;

    .feature {
      padding: 16px;
      border-radius: 8px;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      border: 1px solid var(--bg-o-l-1);

      .title {
        font-size: 16px;
        color: var(--text-2);
      }
      .icon {
        margin-right: 24px;
        font-size: 30px;
      }
    }
  }
  @media (max-width: $medium) {
    .features {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  @media (max-width: 610px) {
    .features {
      gap: 12px;
      grid-template-columns: 1fr 1fr;
    }
  }
  @media (max-width: 430px) {
    .features {
      gap: 8px;
      .feature {
        padding: 12px 8px;

        .icon {
          font-size: 20px;
          margin-right: 12px;
        }
        .title {
          font-size: 14px;
        }
      }
    }
  }
  .create-feature {
    .QR-from {
      margin-top: 32px;
      padding: 16px;
      border-radius: 8px;
      background-color: var(--bg-o-2);
      display: flex;
      flex-direction: column;
      align-items: center;

      .wrap-input-group {
        margin-bottom: 24px;
        width: 600px;
        max-width: 100%;
        .errString {
          color: var(--err);
          font-size: 14px;
          text-align: end;
          padding-top: 8px;
        }
        .input-group {
          cursor: pointer;
          width: 100%;
          background-color: var(--bg-2);
          border-radius: 8px;
          display: flex;
          border: 2px solid transparent;

          &:focus-within {
            border-color: var(--main);
          }
          .input-name {
            display: flex;
            padding: 8px 8px;
            align-items: center;
            justify-content: center;
            background-color: var(--main);
            color: var(--text-d-3);
            font-weight: 600;
            min-width: 100px;
            border-radius: 5.5px 0 0 5.5px;
          }
          .input {
            overflow: hidden;
            padding: 8px 16px;
            flex: 1;
            outline: none;
            background-color: transparent;
            font-size: 16px;
            color: var(--main);
          }
          select.input {
            cursor: pointer;

            option {
              background-color: var(--bg-2);
            }
          }
        }
        .input-group + .input-group {
          margin-top: 24px;
        }
        .input-group.input-group-file {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: var(--main);
          &:hover {
            background-color: var(--main-o-2);
          }

          .placeholder {
            padding: 8px;
            color: var(--text-d-3);
            font-weight: 600;
            display: flex;
            align-items: center;
            .upload-icon {
              margin-right: 12px;
              color: var(--text-d-3);
            }
          }
          .file {
            width: 100%;
            background-color: var(--bg-2);
            padding: 8px;
            border-radius: 4px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            animation: fadeIn 0.5s ease-out;

            .name {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              padding-right: 12px;
            }
            .size {
              color: var(--text-1);
              font-size: 12px;
              white-space: nowrap;
            }
            @keyframes fadeIn {
              from {
                opacity: 0;
                transform: scale(0.9);
              }
              to {
                opacity: 1;
                transform: scale(1);
              }
            }
          }

          &.drapping {
            border: 2px dashed var(--bg-o-l-3);
            background-color: var(--main-o-2);
            .placeholder {
              color: var(--text-2);
              .upload-icon {
                color: var(--text-2);
              }
            }
          }
        }
      }
      #text-editor {
        background-color: var(--bg-2);
        border-radius: 8px;
        border: none;
        outline: none;

        .ql-toolbar {
          border-radius: 8px 8px 0 0;
          background-color: var(--main);
          border: none;
          * {
            color: var(--text-3);
          }
        }
        .ql-container {
          border-radius: 0 0 8px 8px;
          border: 2px solid transparent;
          border-top: 0;
          background-color: var(--bg-O-1);
          * {
            color: var(--text-3);
          }
        }
        &:focus-within {
          .ql-container {
            border-color: var(--main);
          }
        }
      }

      #create-btn {
        margin: 32px 0 16px 0;
        padding: 16px;
        background-color: var(--main);
        color: var(--text-d-3);
        font-weight: 700;
        display: flex;
        flex-direction: row;
        align-items: center;
        line-height: 50px;

        &.disable {
          opacity: 0.2;
          cursor: not-allowed;
          &:hover {
            background-color: var(--main);
          }
        }
        &:hover {
          background-color: var(--main-o-1);
        }
        .loading-icon-btn {
          height: 50px;
          width: 50px;
          margin-left: 12px;
          &.disable {
            display: none;
          }
        }
      }
    }
  }
}
